html 
 head 
  title= title 
  style 
   include style.css
  
 body 
    h1= message 
    a(href='/Contact') Contact
    |
    |
    a(href='/home') home 
    |
    |
    a(href='/service') service 
    |
    |